{% include "header.html" %}
    <section id="courses">
        <h2 class="my-courses">My Courses</h2>
        <div class="searchForm">
            <form method="get">
            <input type="text" placeholder="Search here" value="" name="c_title">
            <input type="submit" value="Search">
        </form>
        </div>
    <div class="courses-container" >
        {% for n in courseData %}
        <div class="courseElement {{n.course_title}}">
            <img src="/media/{{n.course_image}}" alt="">
            <h3>{{n.course_des}}</h3>
            <p class="duration"><strong>Duration:</strong> {{n.course_duration}}</p>
                <p class="level"><strong>Level:</strong> {{n.course_level}}</p>
            <div class="enroll-btn">
                <button><a href="">Enroll Now</a></button>
            </div>
        </div>
        {% empty %}
         <p style="color: grey;">No Data Found!</p>
        {% endfor %}
    </div>
</section>
{% include "footer.html" %}
