<section id="footer">
    <button onclick="scrollToTop()" id="topBtn">↑</button>
    <!-- Top Button -->
     <footer class="footer">
    <div class="footer-container">

      <!-- About -->
      <div class="footer-box">
        <h3>Smart LMS</h3>
        <p>
          Smart Learn LMS is an online learning platform designed to help students gain practical skills through structured courses and expert guidence.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="footer-box">
        <h3>Quick Links</h3>
        <ul>

          <li><a href=""><i class="fas fa-angle-right"></i>Home</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Courses</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Dashboard</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Enroll Now</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Certificates</a></li>

        </ul>
      </div>

      <!-- Courses -->
      <div class="footer-box">
        <h3>Courses</h3>
        <ul>

          <li><a href=""><i class="fas fa-angle-right"></i>Web Development</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Python & Django</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>AI Basics</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Wordpress</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Cyber Security</a></li>

        </ul>
      </div>

      <!-- Support -->
      <!-- <div class="footer-box">
        <h3>Student Support</h3>
        <ul>

          <li><a href=""><i class="fas fa-angle-right"></i>FAQ</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Help Center</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>How to Enroll</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Privacy Policy</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Terms & Condition</a></li>

        </ul>
      </div> -->
      <!-- Contact Us -->
      <div class="footer-box">
        <h3>Contact Us</h3>
        <ul>

          <li><a href=""><i class="fas fa-angle-right"></i>majidaligcj789@gmail.com</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>+923087734287</a></li>
          <li><a href=""><i class="fas fa-angle-right"></i>Jhang, Pakistan</a></li>
      
        </ul>
        <div class="social-media">

          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>

        </div>
      </div>

      <!-- News letter -->
      <div class="footer-box">

        <h3>News letter</h3>
        <p>Subscribe to get update about new courses.</p>
        <form action="" class="newsletter-form">
          <input type="email" placeholder="Enter your email" required>
          <button type="submit">Subscribe</button>
        </form>

      </div>

    </div>

    <!-- Bottom Bar -->
     <div class="footer-bottom">
      <p>© 2026 Smart Learn LMS | Developed by <strong>Majid Ali</strong></p>
      <p class="fyp">
        This LMS is developed as a Final Year Project focusing on Web Development and Database Management.
      </p>
     </div>
    </footer> <!--end footer-->
</section>

<!-- JavaScript -->
<script src="/static/jsfile.js"></script>
</body>
</html>