<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Learn</title>
    <link rel="icon" type="png" href="/static/background/logo.png"><!--link icon-->
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   
</head>
<body class="site-with-header">
    <section id="header">
        
        <div class="logo">
            {% for n in Title %}
            <a href=""><img src="/media/{{n.nav_logo}}" alt=""></a>
            <h2>{{n.nav_title}}</h2>
            {% endfor %}
        </div>
       
            <ul class="navbar">
                <i class="fa-solid fa-xmark" id="close"></i> <!--Close Button at Responsivess-->
                <li><a href="/" class="{% if request.path == '/' %} active {% endif %}">Home</a></li>
                <li><a href="/about/" class="{% if request.path == '/about/' %} active {% endif %}">About</a></li>
                <li><a href="/courses/" class="{% if request.path == '/courses/' %} active {% endif %}">Courses</a></li>
                <li><a href="/contact/" class="{% if request.path == '/contact/' %} active {% endif %}">Contact</a></li>
                <li><a href="/login/" class="login">Login</a></li>
                <li><a href="/signup/" class="join-btn">Join Now</a></li>
            </ul>
            
            
        <div id="mobile"><!--For Responsive-->
        <i id="bar" class="fas fa-outdent" style="cursor: pointer;"></i>
        </div>

    </section>
    
